In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/jokes-data.csv")

In [3]:
df

               id  user_id  joke_id  Rating
0       31030_110  31030.0    110.0   2.750
1       16144_109  16144.0    109.0   5.094
2         23098_6  23098.0      6.0  -6.438
3        14273_86  14273.0     86.0   4.406
4       18419_134  18419.0    134.0   9.375
...           ...      ...      ...     ...
189586  16952_100  16952.0    100.0   2.656
189587   12484_40  12484.0     40.0   8.844
189588  30281_134  30281.0    134.0  -2.281
189589  23364_107  23364.0    107.0   1.062
189590     16657_      NaN      NaN     NaN

[189591 rows x 4 columns]

In [4]:
df.head()

          id  user_id  joke_id  Rating
0  31030_110  31030.0    110.0   2.750
1  16144_109  16144.0    109.0   5.094
2    23098_6  23098.0      6.0  -6.438
3   14273_86  14273.0     86.0   4.406
4  18419_134  18419.0    134.0   9.375

In [5]:
df['user_id'].nunique()

37691

In [6]:
df['joke_id'].nunique()

139

In [7]:
df.shape

(189591, 4)

In [8]:
df.columns

Index(['id', 'user_id', 'joke_id', 'Rating'], dtype='object')

In [9]:
df['user_id']

0         31030.0
1         16144.0
2         23098.0
3         14273.0
4         18419.0
           ...
189586    16952.0
189587    12484.0
189588    30281.0
189589    23364.0
189590        NaN
Name: user_id, Length: 189591, dtype: float64

In [10]:
df['joke_id']

0         110.0
1         109.0
2           6.0
3          86.0
4         134.0
          ...
189586    100.0
189587     40.0
189588    134.0
189589    107.0
189590      NaN
Name: joke_id, Length: 189591, dtype: float64

In [11]:
df['Rating']

0         2.750
1         5.094
2        -6.438
3         4.406
4         9.375
          ...
189586    2.656
189587    8.844
189588   -2.281
189589    1.062
189590      NaN
Name: Rating, Length: 189591, dtype: float64

In [12]:
df.isna().sum()

id         0
user_id    1
joke_id    1
Rating     1
dtype: int64

In [13]:
df.index

RangeIndex(start=0, stop=189591, step=1)

In [14]:
indices = pd.Series(df.index, index = df['user_id'])

In [15]:
indices[31030]

user_id
31030.0         0
31030.0     32259
31030.0     50046
31030.0     77850
31030.0     82518
31030.0     90258
31030.0    103706
31030.0    118984
31030.0    122439
31030.0    130417
31030.0    137835
31030.0    153083
31030.0    182564
dtype: int64

In [ ]:
##### surprise

In [16]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise (from surprise)
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 kB 12.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp310-cp310-linux_x86_64.whl size=3095457 sha256=81753e1bbd7f5e84fce2b7b86ac8ffa87bd480249212838195d3705660768187
  Stored in directory: /root/.cache/pip/wheels/a5/ca/a8/4e28def53797fdc4363ca4af740db15a9c2f1595ebc51fb445
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.3 surprise-0.1

In [ ]:
#### collobarative filteing

In [17]:
from surprise import Reader, Dataset, KNNBasic, SVD

In [ ]:
##### define a reader object
#### the reader object helps in parsing the file or dataframe containing ratings

In [18]:
reader = Reader()

In [ ]:
#### create a the dataset to be used for building the filter

In [19]:
data = Dataset.load_from_df(df[['user_id', 'joke_id', 'Rating']],reader)

In [20]:
data

In [21]:
algo = KNNBasic()

In [22]:
from surprise.model_selection import cross_validate

In [ ]:
cross_validate(algo, data, measures = ["RMSE"], cv = 5, verbose = True)

In [23]:
algo2 = SVD()

In [ ]:
cross_validate(algo2, data, measures = ["RMSE"], cv = 5, verbose = True)